<section id="projects">
  <div class="container">
    <h2 class="text-center mb-5">My Projects</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/path/to/project-1-image.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/path/to/project-2-image.jpg" class="card-img-top" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">Project 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="/path/to/project-3-image.jpg" class="card-img-top" alt="Project 3">
          <div class="card-body">
            <h5 class="card-title">Project 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
