<section id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <img src="/public/SideImg.jpg" alt="XYZ" class="img-fluid rounded-rectangle">
      </div>
      <div class="col-md-6 order-md-1">
        <h1 class="display-4">Hi! I'm <span>{{name}}</span></h1>
        <p class="lead">I bring a unique blend of technical expertise in AWS architecture and a growing skill set in
          frontend and backend development. My collaborative approach and problem-solving abilities make me an asset to
          any team.</p>
        <a href="#" class="btn btn-primary btn-lg">Learn More</a>
      </div>
    </div>
  </div>
</section>

<div id="projects">
  <app-projects></app-projects>
</div>

<div id="skills">
  <app-skills></app-skills>
</div>

<div id="contact">
  <app-contact></app-contact>
</div>
